
{
  "extends": "@istanbuljs/nyc-config-typescript",
  "all": true,
  "check-coverage": true,
  "exclude": [
    "**/swagger.ts",
    "**/server.ts",
    "**/Handler.ts",
    "**/AppProvider.ts",
    "**/kernel.ts"
  ]
}